:root {
    --white: #fcfcfc;
    --black: #2c2727;
    --red: #d1383b;
    --yellow: #e8c236;
    --green: #1e8e29;
    --blue: #3837b3;

    --light-red: #eeb9ba;
    --light-yellow: #faeaab;
    --light-green: #afd8b1;
    --light-blue: #bbbeed;

    --transparency: #ffffffa6;
    --transparency-light: #ffffff4d;

    --white-transparency: #ffffff61;
    --red-transparency: #d1383b73;
    --yellow-transparency: #e8c23673;
    --green-transparency: #1e8e2973;
    --blue-transparency: #3837b373;
    
    --border-black: 2px solid var(--black);
    --border-white: 2px solid var(--white);
    --border-red: 2px solid var(--red);
    --border-yellow: 2px solid var(--yellow);
    --border-green: 2px solid var(--green);
    --border-blue: 2px solid var(--blue);
}

.small-square.dice-white  { border: var(--border-black);  background-color: var(--light-black)}
.small-square.dice-red    { border: var(--border-red);    background-color: var(--light-red)}
.small-square.dice-yellow { border: var(--border-yellow); background-color: var(--light-yellow)}
.small-square.dice-green  { border: var(--border-green);  background-color: var(--light-green)  }
.small-square.dice-blue   { border: var(--border-blue);   background-color: var(--light-blue)}

.line-red    { background-color: var(--red);    color: var(--red);    }
/* .line-red    .mark-icon > i {  color: var(--red-transparency); } */

.line-yellow { background-color: var(--yellow); color: var(--yellow); }
/* .line-yellow .mark-icon > i {  color: var(--yellow-transparency); } */

.line-green  { background-color: var(--green);  color: var(--green);  }
/* .line-green  .mark-icon > i {  color: var(--green-transparency); } */

.line-blue   { background-color: var(--blue);   color: var(--blue);   }
/* .line-blue   .mark-icon > i {  color: var(--blue-transparency); } */
.mark-icon > i { color: var(--white-transparency)};

main {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body {
    padding: 0.1vw;
}
body > section {
    display: flex;
    flex-direction: column;
}
.paper {
    display: flex;
    flex-direction: column;
    margin-top: 0.1vh;
    max-height: 65vh;
}
.line {
    display: flex;
    max-width: 100vw;
    height: auto;
    min-height: 4vw;
    /* background-image: linear-gradient(to top , transparent calc(54% - 1px), var(--black), transparent calc(50% + 1px)); */
}
.line::before {
    /* content: "";
    border-top: solid 1px black;
    position: relative;
    width: 100vw;
    height: 100%;
    float: left; */
    /* top: 50%; */
}
hr {
    border: 1px solid green;
    width: 100%;
    position: relative;
    height: 100%;
    /* border-radius: 5px; */
    /* position:relative; */
    /* margin: 1px;
    margin-block: 1px;
    margin-inline: 1px;
    position:absolute; */
    /* top:50%;
    transform:translateY(-50%); */
    /* border: 0.2px solid;  */
}
.block-info-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-width: 1vh;
    min-height: 1vw;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.block-info-div:nth-last-child(3) {
    border-left: solid 1px black;
}
.parent-line {
    max-height: calc( 65vh / 4 );
}
.block-info {
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    background-color: var(--transparency);
    width: 6vw;
    min-width: 1vh;
    min-height: 1vw;
    height: 5vw;
    text-align: center;
    justify-content: center;
    
    align-items: center;
}
.block-info-div > .mark-icon {
    display:none;
}
.block-info-div.mark > .mark-icon {
    display: block;
    /* background-image: 
        linear-gradient(to top right , transparent calc(50% - 1px), var(--green), transparent calc(50% + 1px)),
        linear-gradient(to bottom right , transparent calc(50% - 1px), var(--green), transparent calc(50% + 1px))
        linear-gradient(to top , transparent calc(54% - 1px), var(--green), transparent calc(50% + 1px)) 
        ; */
}
.block-info > .info {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.block-info > .info > span {
    font-size: calc(2vw + 1em);
    font-weight: bold;
    /* -webkit-text-stroke: 1px #000000; */
}
.block-info.circle {
    border-radius: 50%;
}

.block-info.circle > div {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.rule-mark {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    margin-left: calc(100vw - 23.15vw);
    border: solid 1px black;
}
.rule-mark > span {
    font-size: calc(0.2vw + 1em);
}
.last-selected {
    font-size: calc(2vw + 1em);
    font-weight: bold;
    width: 4vw;
    height: 4vw;
    border: solid 1px var(--black);

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 0px;
    /* background-color: #2496f1; */
    /* color: white; */
    padding: 0.5%;
    /* margin: 0.5%; */
    max-width: 30vw;
    max-height: 30vw;
    border-radius: 10%;

}

.empty-square {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3vw;
    min-height: 3vw;
    font-size: 1.3rem;
    margin: 0 5px;
}

.square-white {
    background-color: var(--white);
    color: var(--black);
    border: solid 1px var(--black);
}
.square-black {
    background-color: var(--black);
    color: var(--white);
    border: solid 1px var(--white);
}
.square-red {
    background-color: var(--light-red);
    color: var(--red);
}
.square-yellow {
    background-color: var(--light-yellow);
    color: var(--yellow);
}
.square-green {
    background-color: var(--light-green);
    color: var(--green);
}
.square-blue {
    background-color: var(--light-blue);
    color: var(--blue);
}

.square-red, .empty-square:nth-child(1) {
    border: solid 2px var(--red);
}
.square-yellow, .empty-square:nth-child(3) {
    border: solid 2px var(--yellow);
}
.square-green, .empty-square:nth-child(5) {
    border: solid 2px var(--green);
}
.square-blue, .empty-square:nth-child(7) {
    border: solid 2px var(--blue);
}

.block-info-div[disabled] > .block-info {
    background-color: var(--transparency-light);
}

/*div.block-info[disabled]:not(.mark)::before*/
/* .line::before {
    content: "";
    border-top: solid 1px var(--black);
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
} */

/* div.mark~div::before {display:none} */
.icon {
    font-size: calc(2vw + 1em);
}

.scores, .result {
    display: flex;
}

.points {
    display:none;
}
.roll-dice {
    border: solid 1px black;
    border-radius: 20%;
    margin-left: 1vw;
    margin-right: 1vw;
}
.dices {
    display: flex;
}
.dice-lines, .default-dice {
    display: flex;
    align-items: center;
}
.default-dice {
    padding-right: 2vw;

}
.dice > i {
    font-size: calc(2vw + 1em);
    border-radius: 20%;
    border-left: solid 1px var(--black);
    border-right: solid 1px var(--black);
}

i.dice-white {
    color: white;
    background-color: var(--black);
}

i.dice-red {
    color: var(--white);
    background-color: var(--red);
    border-left: solid 1px var(--red);
    border-right: solid 1px var(--red);
}

i.dice-yellow {
    color: var(--white);
    background-color: var(--yellow);
    border-left: solid 1px var(--yellow);
    border-right: solid 1px var(--yellow);
}

i.dice-green {
    color: var(--white);
    background-color: var(--green);
    border-left: solid 1px var(--green);
    border-right: solid 1px var(--green);
}

i.dice-blue {
    color: var(--white);
    background-color: var(--blue);
    border-left: solid 1px var(--blue);
    border-right: solid 1px var(--blue);
}

.result, .calc-score {
    align-content: center;
    align-items: center;
}
.calc-score {
    display: flex;
    flex-direction: row;
}
.legend, .block-score {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.block-score {
    border: solid 1px;
    border-radius: 20%;
    margin: 0 2px;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    min-width: 4vw;
    min-height: 4vw;
}
.markers {
    border-bottom: solid 1px var(--black);
}
.title {
    font-size: large;
}
.legend > span {
    font-size: large;
}
.block-score > span {
    font-size: larger;
}

.small-square {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    min-width: 3vw;
    min-height: 3vw;
    width: 6vw;
    height: 4vw;
    margin: 0 2px;
    border-radius: 15%;
}

.totalizer {
    font-size: calc(1vw + 1em);
}
.totalizer  i {
    font-size: calc(0.3vw + 0.4em);
}
.totalizer:not(.dice-white)::before {
    content: attr(totalizer-data-primary);
    
}

.totalizer::after {
    content: attr(totalizer-data-second);
}

 .totalizer.dice-white {
    margin-right: 2vw;
}

.flat-button {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 0px;   
    background-color: #2496f1;
    color: white;
    padding: 0.5%;
    margin: 0.5%;
    max-width: 30vw;
    max-height: 30vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left-footer {
    justify-content: flex-start;
}
.right-footer {
    justify-content: flex-end;
}
.left-footer, .right-footer {
    display: flex;
    width: 50%;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
    .rule-mark {
        border: solid 1px white;
        color: white;
    }
    .small-square.dice-white {
        border: var(--border-white);
        background-color: var(--white);
    }
}